@use 'reset';
@use 'var';

.cart{
    position: fixed;
    padding: 16px;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #EA580C;
    border-radius: 12px;
    color: #fff;
    
    &__btn{
        display: flex;
        gap: 8px;
        align-items: center;

        button{
            background: transparent;
            border: none;
            font-size: 22px;
            color: #fff;
            
        }
    }
}