@use 'reset';
@use 'var';

.header{
    display: flex;
    align-items: center;
    height:50vh;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: .85;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: center;

        a{
            img{
                max-width: 200px;
                width: 100%;
                margin: 0 auto;
                border-radius: 50%;
            }
        }

        h1{
            font-size: 46px;
            color: #fff;
        }

        address{
            color: #fff;
            margin-bottom: 16px;
        }

        &__horario{
            color: #fff;
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            padding: 8px;
            border-radius: 8px;
            background-color: #f00606;

            &--is-open{
                background-color: rgb(5, 189, 5);
            }
        }
    
    }
}