@use 'reset';
@use 'var';
@use 'header';
@use 'shows';
@use 'modal';
@use 'cart';

@media(max-width: var.$note){
    .container{
        max-width: 90%;
    }
}

@media (max-width: var.$tablet){
    .container{
        max-width: 90%;
    }

    .header{
        &__content{
            a{
                img{
                    max-width: 200px;

                }
            }

            h1{
                font-size: 35px;
            }
        }
    }



    .shows{
        &__list{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: var.$mobile){
    .container{
        max-width: 90%;
    }

    .header{
        &__content{
            a{
                img{
                    max-width: 100px;

                }
            }

            h1{
                font-size: 30px;
            }
        }
    }

    .shows{
        &__tabs{
            white-space: nowrap;
            padding-left: 20px;
            overflow-x: scroll;
            scroll-snap-type:  none;
            -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    display: none;
                }

            .btn{
                font-size: 14px;
            }
        }

        &__list{
            grid-template-columns: 1fr;

            &__item{
                &__text{
                    h2{
                        font-size: 16px;
                    }

                    p{
                        font-size: 12px;
                    }
                }

                &__buy{
                    button{
                        font-size: 18px;
                    }

                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .modal{
        &__list{
            max-height: 170px;

            &__item{
                &__itens{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }

        &__dados{
            &__form{
                &__entrega{
                    &__input{
                        padding: 4px;
                    }
                }

                &__pagamento{
                    gap: 0;
                    margin: 0;

                    label{
                        font-size: 14px;
                    }
                }

                &__opcoes{
                    margin: 8px 0;

                    label{
                        font-size: 14px;
                    }
                }
            }
        }

        &__container{
            max-width: 350px;

            h2{
                font-size: 18px;
            }

            h3{
                font-size: 16px;
            }

        }
    }

    .cart{
        top: 20px;
        bottom: auto;
        padding: 12px;

        &__btn{

            button{
                font-size: 18px;
            }
        }
    }
}